* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    --lightblue: rgba(103, 170, 212, 0.836);
    --white: white;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: rgba(68, 71, 71, 0.863);
    color: var(--white);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    min-width: 300px;
    list-style-type: none;
    font-weight: bold;
    color: var(--lightblue)
}

.container {
    position: relative;
    text-align: center;
    color: var(--white)e;
}

.bottom-right {
    position: absolute;
    background-color: var(--lightblue);
    bottom: 8px;
    right: 16px;
  }

.bottom-left {
    position: absolute;
    bottom: 40px;
    left: 0;
    background-color: var(--lightblue);
  }

.float-container {
    display: flex;
    border: 3px solid var(--white);
    
}

.float-body {
    display: flex;
    border: 3px solid var(--white);
    width: 100%;
}

.float-title {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 15%;
    float: left;
    padding: 20px;
    font-size: 100% bolder;
    border: var(--white) 3px solid;
    height: 33%;
}

.float-text {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 81%;
    float: left;
    padding: 20px;
    border-left: solid 5px;
    margin: 20px;
}

.card {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    border: 10px var(--lightblue) solid;
    margin: 15px;
    color: var(--white);
    font-size: large;
    width: auto;
}

.code-card .card-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.code-card:hover,
.code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px 
    var(--lightblue), 
    0 0 15px 
    var(--lightblue);
}

.contact-section {
    display: flex;
}

.contact-section li {
    padding: 26px;
    list-style-type: none;
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    
    .main-header,
    nav {
      flex-direction: column;
    }
  }