* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: rgba(68, 71, 71, 0.863);
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none;
    font-weight: bold;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
.float-container {
    display: flex;
    border: 3px solid #ffffff;
    
}

.float-body {
    display: flex;
    border: 3px solid #ffffff;
    width: 100%;
}

.float-title {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    order: -1;
    align-items: flex-end;
    width: 15%;
    float: left;
    padding: 20px;
    font-size: 100% bolder;
    border: rgb(255, 255, 255) 3px solid;
    height: 33%;
    flex-shrink: ;
}

.float-text {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    float: left;
    padding: 20px;
    border-left: solid 5px;
    margin: 20px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border: 25px rgb(230, 73, 16);
    margin: 20px;
}